header {
    background-color: orange;
}

main {
    color: white;
    background-color: green;
}

.fotologo {
    width: 200px;
}

.carrito {
    width: 40px;
    float: right;
}

.usuario {
    width: 40px;
    float: right;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: black 5px 1px;
}

.caperucita {
    width: 250px;
}

.cenicienta {
    width: 250px;
}

.corrector {
    width: 250px;
}

.correctorcinta {
    width: 250px;
}

.varios {
    width: 250px;
}

.hansel {
    width: 250px;
}

.chanchitos {
    width: 250px;
}

.bolibarra {
    width: 250px;
}

.boligoma {
    width: 250px;
}

.boligrafos {
    width: 250px;
}

.borratinta {
    width: 250px;
}

.mochilas {
    width: 250px;
}

.buscador {
    border-radius: 2em;
    float: top;
    height: 30px;
    float: right;
    width: 20%;
    text-align: center;
    justify-content: center;
}