    .grid {
        display: grid;
        background: #FFAB4C;
        padding: 1em;
        grid-template-columns: auto auto auto;
        border: #B6EB7A 2px;
        position: fixed;
        width: 100%;
        height: 120px;
        margin: 0;
    }
    
    .fotologo {
        width: 95px;
        float: start;
    }
    
    .titulo {
        padding: 2em;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        text-transform: none;
        text-shadow: blanchedalmond 2px 1px;
    }
    
    .slider {
        float: bottom;
        padding: 0;
        height: 500px;
        width: 100%;
        margin: auto;
        overflow: hidden;
        background-color: #f8b080;
    }
    
    h1 {
        text-align: center;
    }
    
    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: movimiento 20s infinite alternate;
    }
    
    .slider li {
        display: inline-block;
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        width: 450px;
        height: 499px;
    }
    
    @keyframes movimiento {
        0% {
            margin-left: 0%;
        }
        20% {
            margin-left: 0%;
        }
        25% {
            margin-left: -100%;
        }
        45% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        70% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        100% {
            margin-left: -300%;
        }
    }
    
    .grid2 {
        display: grid;
        background: #61B15A;
        grid-template-columns: auto auto auto auto auto;
        padding: 1em;
        grid-template-rows: auto auto auto auto;
        border: orange solid 2px;
    }
    
    h2 {
        text-align: start;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        text-shadow: #ffffff 2px 1px;
        width: 50px;
    }
    
    .caperucita {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .cenicienta {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .correctorcinta {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .corrector {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .varios {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .hansel {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .mochilas {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .chanchitos {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .bolibarra {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .boligrafos {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .borratinta {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .boligoma {
        width: 200px;
        padding: 1em;
        gap: 5em;
    }
    
    .grid3 {
        display: grid;
        background: #FFAB4C;
        padding: 4em;
        grid-template-columns: auto auto;
        border: greenyellow solid 2px;
    }
    
    h3 {
        text-decoration-line: underline;
        padding: 2px;
        text-shadow: lawngreen 2px 1px;
    }
    
    h4 {
        text-decoration-line: underline;
        padding: 2px;
    }
    
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .div1 {
        grid-area: 5 / 5 / 6 / 6;
    }
    
    .div2 {
        grid-area: 2 / 2 / 3 / 3;
    }
    /*.btn-whatsapp {
   display: block;
    width: 100px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;

    */
    
    .btn-whatsapp {
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 10px;
        background: greenyellow;
        border-radius: 50px;
        text-align: center;
        font-size: 3px;
        z-index: 100;
    }
    
    .mapa {
        width: 100%;
        height: auto;
        flex: 50%;
    }